form(action="/signup", method="POST")
    div
        input(type="text", name="username", placeholder="Enter username")
    div
        input(type="password", name="password", placeholder="Enter password")
    button(type="submit") Signup!    